#product-1{
    text-align: center;
    padding-bottom: 5%;
}

#product-1 .p-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
}


#product-1 .p{
    width: 21%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#product-1 .p:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.6);
}

#product-1 .p img{
    width: 100%;
    border-radius: 20px;
    height: 300px;
}

#product-1 .p .des{
    text-align: start;
    padding: 10px 0;
}

#product-1 .p .des span{
    color: #606063;
    font-size: 12px;
}

#product-1 .p .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product-1 .p .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product-1 .p .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product-1 .p .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.section-p1 .feature-box{
    margin-left: 10%;
    margin-right: 10%;
}

#product-1 .p .login-btn{
    /* width: 40px;
    height: 40px;
    line-height: 40px; */
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: relative;
    bottom: 0px;
    right: 10px;
    padding: 6px;
}







